<ul></ul>
    <li><%= link_to 'Inicio', root_path %></li>
    <li><%= link_to 'Articulos', articles_path %></li>
    <li><%= link_to 'Servicios', pages_service_path %></li>
    <li><%= link_to 'Portafolio', pages_work_path %></li>
    <li><%= link_to 'Contacto', pages_contact_path %></li>
</ul>