<nav class="be-red white large-padding">
    <ul>
        <ul class="col-md">
            <ul><%= link_to 'Inicio', root_path %></ul>
        </ul>
        <ul class="col-md">
        <ul><%= link_to 'Articulos', articles_path %></ul>
        </ul>
        <ul class="col-md">
        <ul><%= link_to 'Servicios', pages_service_path %></ul>
        </ul>
        <ul class="col-md">
        <ul><%= link_to 'Portafolio', pages_work_path %></ul>
        </ul>
        <ul class="col-md">
        <ul><%= link_to 'Contacto', pages_contact_path %></ul>
        </ul>
    </ul>
</nav>